services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
      - ./redis/init.sh:/docker-entrypoint-initdb.d/init.sh:ro
    entrypoint: ["/bin/sh", "-c"]
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: "api"
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
      - HOST=http://localhost:8000

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - api
    ports:
      - "8080:80"

volumes:
  redis_data:
